# common paras
common:
  experiment_no: None
  experiment_type: 'pretrain'

  dataset_name: 'RSA'
  init_data_folder: 'init_data/'
  trs_fname: 'RSA_trs.npy'
  label_fname: 'RSA_label.npy'
  plain_fname: None
  feature_num: 3306
  leakage_model: 'ID'
  classification: 2
  true_key: None

  disable_cuda: False
  gpu_index: 0

  model_name: 'ascad_cnn'
  batch_size: 200

# pretrain
pretrain:
  train_num: 0

  # network
  epoch: 200
  lr: 0.00001
  wd: 0.0001

  out_dim: 128
  projection_head_layer: 2
  temperature: 0.07
  n_views: 2

  # data aug
  augmentation:
    data_filter: 1
    data_shift: 5
    data_cut: 5

  # output
  outfile: None

tuning:
  # data para
  train_num: 400000
  out_dim: 2

  # model para
  pretrain_path: ''
  model_eval: False
  frozen: False
  add_dense_bool: False

  optim: 'RMSprop'
  epoch: 150
  lr: 0.00001

  # GE para
  GE_epoch: None
  GE_run_time: None
  GE_every: None
  GE_trsnum: None

  # output
  outfile: None

